.Chat-container{
    background-color: rgb(227, 227, 227);
    width: 80%;
    margin: 0 auto;
    height: 700px;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 25px;
    display: grid;
    grid-template-areas: 
    "userlist board board board"
    "userlist board board board"
    "userlist board board board"
    "userlist board board board"
}

.Chat-container-UserList{
    width: 100%;
    margin: 0 200px 0 0;
    background: rgb(255, 255, 255);
    
    border: solid rgb(250, 250, 250);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    grid-area: userlist;

}

.Chat-container-Board{
    grid-area: board
}